$green: #499A18
$orange: #E06733
$gray: #717171
$dark-gray: #636060
$bg: #EDF2EC
$link: #010201

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap')

html
    box-sizing: border-box
    font-family: 'Inter', sans-serif
    font-size: 16px
    line-height: 30px
    scroll-behavior: smooth
    overflow-x: hidden

*, *:before, *:after
    box-sizing: inherit

body
    color: #010201
    margin: 0
    padding: 0
    background-color: $bg
    overflow-x: hidden

section, header, .footer
    padding: 0 25px

img
    max-width: 100%
    height: auto

h1, h2, h3, h4, h5
    font-family: 'Inika', sans-serif

h1
    font-family: 'Inter', sans-serif
    font-size: 45px
    font-weight: 700
    line-height: 50px

h2
    font-size: 40px
    line-height: 52px
    font-weight: 400
    color: $green
    margin: 0

h4
    font-size: 20px
    color: $orange
    font-weight: bold
    font-family: 'Inter', sans-serif

ul
    list-style-type: none
    margin: 0
    padding: 0

a
    color: $link
    text-decoration: none

p
    font-size: 20px
    line-height: 30px
    color: $dark-gray

.blur
    filter: blur(4px)

.button
    text-transform: uppercase
    border: 2px solid $orange
    border-radius: 10px
    padding: 14px 24px
    line-height: 1
    font-size: 16px
    transition: all .3s ease
    cursor: pointer
    &:hover, &:focus
        color: #fff
        background-color: $orange

.container
    max-width: 1222px
    margin: 0 auto

.navbar
    display: flex
    flex-wrap: wrap
    margin: 42px 0
    align-items: center
    font-family: 'Inika', serif
    line-height: 50px
    position: relative
    justify-content: space-between
    &__menu
        display: flex
        flex-wrap: wrap
        gap: 15px 47px
        overflow: hidden
        transition: all .3s ease-out
        justify-content: space-between
        &_btn.open
            &::before, &::after
                background-color: transparent
            span
                &::before
                    transform: rotate(-45deg)
                    top: 15px
                &::after
                    transform: rotate(45deg)
        &_btn
            display: none
            border: none
            padding: 0
            width: 40px
            height: 28px
            position: relative
            &::before, &::after
                content: ''
                width: 40px
                height: 2px
                display: block
                background-color: $gray
                position: absolute
                transition: background-color .2s ease-out
            &::before
                top: 0
            &::after
                bottom: 2px
            span
                display: block
                &::before, &::after
                    content: ''
                    width: 40px
                    height: 2px
                    display: block
                    background-color: $gray
                    position: absolute
                    transition: transform .2s ease-out
                &::after
                    bottom: 10px
                &::before
                    top: 8px
    &__menu.open
        max-height: 150px
        opacity: 1
        visibility: visible
    &__item
        a
            transition: all .3s ease
            &:hover
                color: $green
        &_active
            a
                color: $orange
                font-weight: bold

.welcome
    &__image
        margin-top: -9px
        margin-left: -9px
    &__content
        h1
            margin-bottom: 42px
            color: $gray
        span
            color: $green
        p
            line-height: 35px
            margin-bottom: 48px
        button
            padding: 12px 24px
    .container
        padding: 62px 0
        gap: 18.1%
        display: flex
        justify-content: space-between

.about
    background-color: #fff
    .container
        display: flex
        justify-content: space-between
        align-items: center
        gap: 13%
        padding: 93px 0
    h2
        margin: 0
    p
        margin-top: 36px
        margin-bottom: 0
    span
        color: $orange
    img
        margin-top: -7px

.service
    margin: 40px 0 121px 0
    .container
        display: flex
        flex-direction: column
    &__nav
        display: flex
        align-items: center
        gap: 13%
        margin-bottom: 80px
        &__buttons
            display: flex
            gap: 38px
            margin-top: 5px
            .button.active
                color: #fff
                background-color: $green
                border-color: $green
            .button
                text-transform: none
                border-radius: 5px
                width: 161px
                border: 1px solid $orange
                background-color: $bg
                font-family: 'Inika', serif
                color: $orange
                font-size: 20px
                line-height: 20px
                &:hover
                    color: #fff
                    background-color: $orange
    &__list
        display: flex
        flex-wrap: wrap
        gap: 55px 116px
        justify-content: space-between
    &__list.active
        .service__card
            filter: blur(4px)
    &__list.active.gardens
        .service__card
            &:nth-of-type(1),&:nth-of-type(5)
                filter: none
    &__list.active.lawn
        .service__card
            &:nth-of-type(3)
                filter: none
    &__list.active.planting
        .service__card
            &:nth-of-type(2),&:nth-of-type(4),&:nth-of-type(6)
                filter: none
    &__card
        border: 1px solid #E3E1D5
        border-radius: 20px
        flex: 1 0 calc(33.333333% - 116px)
        text-align: center
        transition: all .5s ease
        &:hover
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        h4
            margin: 0
            line-height: 24px
        &__subtitle
            color: $gray
            font-size: 16px
            margin-bottom: 28px
            margin-top: 9px
        &__img
            border-top-left-radius: 20px
            border-top-right-radius: 20px

.prices
    background-color: #fff
    &__accordion
        h2
            font-family: 'Inter', sans-serif
            font-weight: bold
            line-height: 48px
            margin-bottom: 59px
            color: #000
        .prices__accordion_container
            padding: 34px 41px
            border-radius: 20px
            border: 1px solid #E3E1D5
        &__item
            font-size: 20px
            line-height: 20px
            border-radius: 20px
            font-weight: 700
            margin-bottom: 30px
            padding: 16px 40px
            background-color: $bg
            width: 248px
            transition: background-color .3s ease
            cursor: pointer
            &:hover
                background-color: #D6E7D2
            &:last-of-type
                margin-bottom: 0
            &_content
                transition: max-height .5s linear, margin .2s linear, border .2s linear, background-color .5s linear
                overflow: hidden
                max-height: 0px
                div
                    font-size: 12px
                    line-height: 12px
                    font-weight: 400
                    margin-top: 6px
                    margin-bottom: 10px
                span
                    font-size: 18px
                    color: $orange
                    font-weight: bold
                    span
                        font-size: 12px
                a
                    padding: 3px 0
                    background-color: #fff
                    font-size: 14px
                    transition: all .3s ease
                    border-radius: 10px
                    display: block
                    width: fit-content
                    padding-left: 20px
                    padding-right: 25px
                    &:hover
                        background-color: $green
                        color: #fff
            h4
                position: relative
                margin: 0
                color: #000
                &::after
                    content: ''
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00003 3.00656L1.00003 1.00667' stroke='%23717171' stroke-width='0.5' stroke-linecap='round'/%3E%3Cpath d='M3 3.00635L5 1.00635' stroke='%23717171' stroke-width='0.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
                    background-repeat: no-repeat
                    background-color: #D9D9D9
                    width: 16px
                    height: 16px
                    position: absolute
                    border-radius: 50px
                    background-position: center
                    top: calc(50% - 8px)
                    right: -2px
                    top: 4px
            p
                font-size: 10px
                line-height: 10px
                font-weight: 400
                margin-top: 5px
        &__item.open
            background-color: #D6E7D2
            h4::after
                transform: rotate(-180deg)
                background-color: #AEA1A1
            .prices__accordion__item_content
                margin-top: 10px
                border-top: .5px solid #AEA1A1
                max-height: 500px
    &__heading
        text-align: right
        h3
            font-family: 'Inter', sans-serif
            font-weight: bold
            line-height: 50px
            font-size: 40px
            margin-top: 0
        span
            color: $green
        img
            display: block
            margin-left: auto
            margin-top: -9px
            margin-right: -9px
        .button
            border-radius: 5px
            text-transform: none
            line-height: 26px
            padding: 11px 32px
            font-size: 20px
            color: $orange
            font-weight: bold
            font-family: 'Inika', serif
            border: 1px solid $orange
            margin-bottom: 43px
            background-color: #fff
            &:hover
                color: #fff
                background-color: #E06733
    .container
        padding: 40px 0 115px 0
        display: flex
        gap: 35%
        justify-content: space-between

.contacts
    margin-top: 46px
    .container
        display: flex
        justify-content: space-between
    h2
        margin-left: 45px
        margin-top: 7px
        font-weight: bold
    &__info
        background-color: $bg
        border-radius: 20px
        border: 1px solid #000
        padding: 17px 76px 25px 33px
        cursor: text
        margin-top: 35px
        transition: opacity .5s ease
        visibility: hidden
        opacity: 0
        button
            font-size: 10px
            font-weight: bold
            border-radius: 5px
            border: 1px solid $orange
            transition: background-color .3s ease
            margin-top: 17px
            cursor: pointer
            &:hover
                background-color: $orange
            a
                padding: 7px 42px
                display: block
        tr td
            line-height: 35px
            &:nth-of-type(2)
                color: #717171
                padding-left: 19px
    &__info.open
        opacity: 1
        visibility: visible
    &__list
        padding: 27px 41px
        background-color: #DCE9D9
        transition: all .5s linear
        max-height: 0%
        visibility: hidden
        position: absolute
        width: 100%
        ul li
            line-height: 46px
            color: $green
            letter-spacing: 1px
            transition: opacity .3s linear
            position: relative
            opacity: 0
            &::after
                content: ''
                height: 1px
                background-color: #717171
                position: absolute
                bottom: 11px
                left: -6px
                transition: width .3s linear
                width: 0px
            &:hover
                color: #717171
                &::after
                    width: 104%
    &__list.open
        max-height: 500px
        visibility: visible
        ul li
            opacity: 1
    &__select
        background-color: #D6E7D2
        position: relative
        width: 450px
        height: 50px
        margin-top: 95px
        transition: background-color .3s ease
        cursor: pointer
        &:hover, &:active
            background-color: #C1E698
        &:has(.open)
            background-color: #C1E698
            span::after
                transform: rotate(-180deg)
        .selected
            display: flex
            align-items: center
            height: 100%
            margin: 0 35px
        span
            font-size: 20px
            color: $gray
            letter-spacing: 1px
            &::after
                content: ''
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00003 3.00656L1.00003 1.00667' stroke='%23FFFFFF' stroke-width='0.5' stroke-linecap='round'/%3E%3Cpath d='M3 3.00635L5 1.00635' stroke='%23FFFFFF' stroke-width='0.5' stroke-linecap='round'/%3E%3C/svg%3E%0A")
                background-repeat: no-repeat
                background-color: #AEA1A1
                width: 16px
                height: 16px
                position: absolute
                border-radius: 50px
                background-position: center
                top: calc(50% - 8px)
                right: 35px

.footer
    font-size: 20px
    line-height: 50px
    padding-top: 40px
    padding-bottom: 40px
    background-color: #fff
    .container
        display: flex
        align-items: center
        justify-content: space-between
    a
        transition: all .3s ease
        &:hover
            color: $green
    img
        transition: all .3s ease
        &:hover
            filter: invert(42%) sepia(15%) saturate(5675%) hue-rotate(66deg) brightness(104%) contrast(81%)
    &__social__list
        display: flex
        gap: 20px
        line-height: 0
    &__rsschool
        margin-left: 15px

@media (max-width: 1100px) and (min-width: 651px)
    section, header, .footer
        padding: 0 50px
    .navbar
        line-height: 38px
    .welcome
        .container
            gap: 0
            padding: 0
            margin-top: 76px
            margin-bottom: 70px
        &__image
            order: 1
            max-width: 280px
            max-height: 258px
            margin-top: 0
            margin-left: 0
        &__content
            h1
                font-size: 35px
                margin-top: 0
                margin-bottom: 32px
            p
                font-size: 16px
                line-height: 25px
                margin: 0 40px 35px 5px
    .about
        .container
            flex-direction: column
            padding: 40px 0 95px 0
        h2
            font-size: 35px
            line-height: 45px
            text-align: center
            max-width: 79%
            margin: 0 auto
        p
            margin: 52px 0 75px
        img
            width: 250px
            height: 258px
    .service
        margin-top: 60px
        margin-bottom: 68px
        &__list
            gap: 38px 106px
        &__card
            flex: 1 1 calc(50% - 106px)
            h4
                line-height: 20px
            &__img
                min-height: 350px
                object-fit: cover
            &__subtitle
                max-width: 90%
                text-align: center
                margin-left: auto
                margin-right: auto
                line-height: 20px
                margin-bottom: 19px
                margin-top: 11px
        &__nav
            flex-direction: column
            align-items: flex-start
            margin-bottom: 39px
            h2
                font-size: 35px
                line-height: 45px
            &__buttons
                margin-top: 44px
    .prices
        .container
            gap: unset
            padding-bottom: 80px
            padding-top: 42px
        &__accordion
            h2
                font-size: 39px
                line-height: 37px
                margin-left: 13px
                letter-spacing: -2px
        &__heading
            margin-top: 98px
            h3
                font-size: 25px
                line-height: 35px
                margin-bottom: 28px
            img
                margin-top: -14px
    .contacts
        margin-top: 41px
        .container
            flex-direction: column
            align-items: center
        img
            order: 3
            max-width: 200px
            margin-top: 250px
            margin-left: 21px
        h2
            margin: 0
        &__select
            margin-top: 99px
    .footer
        .container
            flex-direction: column
            line-height: 1
            gap: 23px
            padding: 33px 0
        &__rsschool
            margin: 0

@media (max-width: 650px)
    section, header, .footer
        padding: 0 25px
    .container
        flex-wrap: wrap
    .navbar
        margin: 34px 0 38px
        line-height: 20px
        &__menu
            max-height: none
            opacity: 0
            width: 100%
            border-bottom: 2px solid $green
            margin: 15px 0
            padding: 15px 0
            position: absolute
            top: 25px
            background: $bg
            visibility: hidden
            &_btn
                display: block
    .welcome
        .container
            padding: 23px 0
        &__image
            display: none
        &__content
            h1
                font-size: 25px
                line-height: 35px
                margin: 0
            p
                font-size: 16px
                line-height: 25px
                margin-bottom: 25px
                margin-top: 19px
            .button
                font-size: 10px
                line-height: 20px
                padding: 5px 15px
    .about
        .container
            padding: 30px 0
        &__content
            h2
                font-size: 25px
                text-align: center
                line-height: 32px
            p
                font-size: 15px
                line-height: 25px
                margin-top: 16px
        img
            margin: 0 auto
            max-width: 150px
    .service
        margin: 30px 0
        &__nav
            gap: 0
            flex-wrap: wrap
            margin-bottom: 40px
            &__buttons
                flex-wrap: wrap
                gap: 10px
                margin-top: 41px
                li
                    flex: 0 1 121px
                .button
                    font-size: 15px
                    line-height: 20px
                    padding: 6px 30px
                    width: 100%
            h2
                font-size: 25px
                line-height: 30px
        &__list
            gap: 23px 0
            justify-content: center
        &__card
            flex: 0 1 280px
            &__img
                min-height: 350px
                object-fit: cover
            &__subtitle
                width: 90%
                margin-left: auto
                margin-right: auto
                margin-top: 8px
                line-height: 20px
    .prices
        text-align: center
        .container
            padding: 14px 0 40px 0
            justify-content: center
        &__accordion
            ul
                padding: 29px 22px
                text-align: left
            h2
                font-size: 25px
                line-height: 30px
                margin-bottom: 38px
            &__item
                font-size: 15px
                line-height: 20px
                padding: 15px 30px
                margin-bottom: 12px
                max-width: 180px
                &::after
                    right: 38px
        &__heading
            text-align: center
            max-width: 86%
            h3
                font-size: 20px
                line-height: 34px
                margin-top: 20px
                margin-bottom: 22px
            .button
                font-size: 15px
                line-height: 21px
                padding: 6px 24px
                margin-bottom: 0
            img
                display: none
    .contacts
        margin-top: 25px
        .container
            justify-content: center
        &__select
            margin-top: 82px
            max-width: 91%
            span:after
                right: 22px
        img
            margin-top: 262px
            order: 1
            max-width: 100px
        h2
            margin: 0
            text-align: center
            width: 100%
            font-size: 25px
            line-height: 32px
    .footer
        padding-bottom: 12px
        padding-top: 0
        .container
            line-height: 43px
            justify-content: space-around
            flex-wrap: wrap
        &__rsschool
            margin: 0
        &__github
            padding-top: 9px
