@charset "UTF-8";
@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  overflow-y: hidden;
  color: #fff;
  text-align: center;
  background: url("") center/cover, no-repeat, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  height: 100%;
}

.time, .date, .weather, .player, .quotes, .greeting {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
}

.hide-widget {
  opacity: 0;
  visibility: hidden;
}

.volume-kek {
  display: flex;
}

label[for=volume] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.progress-bar {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 12px;
}

.time-container {
  writing-mode: tb-rl;
  position: absolute;
  left: 10px;
  top: 20px;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
}
.time-container span {
  padding-top: 10px;
}

.player-progress {
  height: 100%;
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
  width: 7px;
  cursor: pointer;
  accent-color: #e9db1e;
  mix-blend-mode: luminosity;
  transition: all 0.3s linear;
}

.player-volume {
  accent-color: #e9db1e;
  width: 100%;
  cursor: pointer;
  mix-blend-mode: luminosity;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  flex-direction: column;
  align-items: center;
}

.player-buttons {
  mix-blend-mode: luminosity;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.play-item .play {
  width: 15px;
  background-size: 15px;
  margin-left: 10px;
  height: 15px;
}
.play-item:hover {
  opacity: 1;
}
.play-item::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: rgba(32, 255, 32, 0.644);
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}
.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.name::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.settings-popup {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.settings-popup svg {
  position: absolute;
  cursor: pointer;
  right: 20px;
  transition: fill 0.3s ease;
  top: 20px;
}
.settings-popup svg:hover {
  fill: red;
}
.settings-block {
  margin-top: 15px;
}
.settings-block h4 {
  margin-bottom: 15px;
}
.settings-block .row {
  display: flex;
  gap: 5px;
  list-style-type: none;
  flex-wrap: wrap;
}
.settings-block .row-item {
  display: flex;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.settings-block .row-item:hover {
  background-color: #c5c5c5;
}
.settings-block label {
  margin-right: 10px;
}
.settings-block input {
  cursor: pointer;
  accent-color: #fff;
}
.settings-icon {
  position: absolute;
  right: 25px;
  mix-blend-mode: luminosity;
  bottom: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  fill: #e9db1e;
}
.settings-icon:hover {
  transform: rotate(360deg);
}
.settings-photo input {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  accent-color: #000;
  transition: all 0.3s ease;
}
.settings-photo input:hover {
  background-color: #c5c5c5;
}

.greeting, .time, .date {
  mix-blend-mode: soft-light;
}

.settings-container.settings-show {
  opacity: 1;
  visibility: visible;
}

.time {
  min-height: 80px;
  font-size: 72px;
}

.greeting-container {
  padding: 5px;
}

.greeting {
  min-height: 40px;
  font-size: 32px;
}

.name {
  font-size: 32px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */