@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  overflow-y: hidden;
  color: #fff;
  text-align: center;
  background: url("") center/cover, no-repeat, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  height: 100%;
}

.quotes {
  text-align: right;
  opacity: 0.8;
}

.time, .date, .weather, .player, .quotes, .greeting, .todo {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  font-size: 15px;
}

.hide-widget {
  opacity: 0;
  visibility: hidden;
}

.volume-kek {
  display: flex;
}

label[for=volume] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.progress-bar {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 12px;
}

.time-container {
  writing-mode: tb-rl;
  position: absolute;
  left: 10px;
  top: 20px;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
}
.time-container span {
  padding-top: 10px;
}

.player-progress {
  height: 100%;
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
  width: 7px;
  cursor: pointer;
  accent-color: #e9db1e;
  mix-blend-mode: luminosity;
  transition: all 0.3s linear;
}

.player-volume {
  accent-color: #e9db1e;
  width: 100%;
  cursor: pointer;
  mix-blend-mode: luminosity;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  flex-direction: column;
  align-items: center;
}

.player-buttons {
  mix-blend-mode: luminosity;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  display: flex;
  padding: 5px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.play-item .play {
  width: 15px;
  background-size: 15px;
  margin-left: 10px;
  height: 15px;
}
.play-item:hover {
  opacity: 1;
}

.item-active {
  color: rgba(32, 255, 32, 0.644);
}

.player-icon,
.slider-icon,
.change-quote {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  min-height: 180px;
  text-align: right;
  margin-top: 10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}

.weather-icon {
  font-size: 25px;
}

.weather-container {
  display: flex;
  margin-top: 10px;
}

.author {
  font-style: italic;
  margin-bottom: 5px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.name::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 15px;
  background-image: url("../assets/svg/reload.svg");
}

.todo {
  min-width: -moz-max-content;
  min-width: max-content;
  text-align: left;
  margin-right: 15px;
  max-height: 100%;
  overflow-y: auto;
}
.todo-header {
  display: flex;
  justify-content: space-between;
}
.todo-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 10px;
}
.todo-list li {
  margin: 5px 0;
  display: flex;
  position: relative;
}
.todo-list li div {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-size: 10px 10px;
  background-image: url("data:image/svg+xml,%3Csvg height='25px' id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='25px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z' /%3E%3C/svg%3E");
  cursor: pointer;
  transition: filter 0.2s ease 0s;
  filter: invert(99%) sepia(99%) saturate(17%) hue-rotate(238deg) brightness(104%) contrast(100%);
}
.todo-list li div:hover {
  filter: invert(13%) sepia(97%) saturate(6618%) hue-rotate(1deg) brightness(111%) contrast(114%);
}
.todo-list li span {
  margin-left: 5px;
  margin-right: 15px;
}
.todo-list li input {
  accent-color: #fff;
}
.todo-list input[type=checkbox]:checked + span {
  opacity: 0.7;
  text-decoration: line-through;
}
.todo h4 {
  margin-bottom: 10px;
}
.todo input[type=text] {
  background: transparent;
  border: white 1px solid;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.todo input[type=text]::-moz-placeholder {
  color: #fff;
}
.todo input[type=text]::placeholder {
  color: #fff;
}
.todo button {
  margin-left: -5px;
  padding: 5px 10px;
  border: white 1px solid;
  border-top-right-radius: 5px;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.todo button:hover {
  background-color: #fff;
  color: #000;
}

.settings-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.settings-popup {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3490196078);
  border-radius: 15px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  display: flex;
  margin: 15px;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.settings-popup .close {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("data:image/svg+xml,%3Csvg height='25px' id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='25px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z' /%3E%3C/svg%3E");
  position: absolute;
  cursor: pointer;
  right: 20px;
  transition: filter 0.2s ease;
  top: 20px;
  border-radius: 50%;
}
.settings-popup .close:hover {
  filter: invert(88%) sepia(93%) saturate(2946%) hue-rotate(347deg) brightness(100%) contrast(83%);
}
.settings-block {
  margin-top: 15px;
}
.settings-block .tags {
  margin-left: 10px;
  display: flex;
  flex: 1;
}
.settings-block .tags input {
  display: flex;
  flex: 1;
  padding-left: 5px;
}
.settings-block h4 {
  margin-bottom: 15px;
}
.settings-block .row {
  display: flex;
  gap: 5px;
  list-style-type: none;
  flex-wrap: wrap;
}
.settings-block .row-item {
  display: flex;
  background-color: #ebebeb;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.settings-block .row-item:hover {
  background-color: #c5c5c5;
}
.settings-block label {
  margin-right: 10px;
}
.settings-block input {
  cursor: pointer;
  accent-color: #fff;
}
.settings-icon {
  position: absolute;
  right: 20px;
  mix-blend-mode: luminosity;
  top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  fill: #e9db1e;
}
.settings-icon:hover {
  transform: rotate(360deg);
}
.settings-photo input[type=radio] {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  accent-color: #000;
  transition: all 0.3s ease;
}
.settings-photo input[type=radio]:hover {
  background-color: #c5c5c5;
}

.greeting, .time, .date {
  opacity: 0.8;
}

.settings-container.settings-show {
  opacity: 1;
  visibility: visible;
}

.time {
  min-height: 80px;
  font-size: 72px;
}

.greeting-container {
  padding: 5px;
}

.greeting {
  min-height: 40px;
  font-size: 32px;
}

.name {
  font-size: 32px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */